body {
	display: flex;
}

.page-container {
	display: flex;
	background-color: #FFF4DE ;
	width:1600px;
	height: 1600px;
}

.left-half {
	flex-direction: column;
	width:50%;
    height:100%;
}

.top-left {
	padding: 2rem 5rem 1rem 8rem;
}

.bottom-left {
	padding: 2rem 5rem 1rem 8rem;
}

.right-half {
	padding: 2rem 1rem 1rem 15rem;
	width:50%;
    height:100%;
}

.setData, .searchData, .displayAll  {
	background-color: #468A83;
	color: #F3A044;
	margin: 1rem 0rem;
}

.textField, .textArea, .searchField {
	color: #468A83;
	background-color:  #EEDFA8
}

.displayRecent, .displaySearch, .displayAllArea {
	color: #468A83;
}

.snippetName {
	padding: 1rem 0rem;
	color: #468A83;
}


